{{#if posts}}
{{#each posts}}
<div class="cards-wrapper">
<div class="card">
    <div class="card-content">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted"> Автор: {{author}}
    </h6>
    <h6 class="card-subtitle mb-2 text-muted"> Дата создания: {{createdAt}}
    </h6>
    <p class="card-text">{{description}}</p>
    </div>
    <div class="card-comments">Комментарии
    {{#if comments}}
    {{#each comments}}
        <div class="comment-item">
        <div class="card-img">
        <img src="http://127.0.0.1:3000/uploads/{{avatar}}">
        </div>
        <p class="card-text">{{text}}</p>
        <h6 class="card-subtitle mb-2 text-muted"> Дата создания: {{createdAt}}</h6>
        </div>
        {{/each}}
        {{else}}
        <p>Комментариев нет</p>
        {{/if}}
        </div>
        </div>
{{/each}}
{{else}}
<h1>Список постов пуст!</h1>
{{/if}}
