<table>
<tr>
<th>Данные поста были изменены. Новые данные:</th>
</tr>
<tr>
<td>Название</td>
<td>{{title}}</td>
</tr>
<tr>
<td>Описание</td>
<td>{{description}}</td>
</tr>
<tr>
<td>Дата изменения</td>
<td>{{updatedAt}}</td>
</tr>
<tr>
<td>Ссылка на новость</td>
<td>
<a href='http://localhost:3000/posts/{{id}}/detail'> http://localhost:3000/posts/{{id}}/detail
</a>
</td>
</tr>
</table>
